@font-face {
    font-family: "PressStart2P";
    src: url("font/PressStart2P.ttf");
}

@keyframes text-typing {
    from {
        width: 0;
    }

    to {
        width: 99%;
    }
}

:root {
    --color-text: #FFFFFF;
    --color-background: #0F0F0F;
    --color-first: #1F1F1F;
    --color-second: #111111;
    --color-link: #88c07d;
    --color-accent: #E9E919;
}

body {
    margin: 0;

    background-color: var(--color-background);

    font-family: "PressStart2P", sans-serif;
    color: #FFFFFF;
    text-align: center;
}

header {
    margin: 20px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    color: var(--color-accent);
}

h1 {
    border-right: 0.7em solid var(--color-text);
    font-size: 32;
    white-space: nowrap;
    overflow-x: hidden;

    animation: text-typing 2s steps(19, end)
}

section {
    padding: 70px 0;
    background-color: #121212;
}

.lines {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;

    background: repeating-linear-gradient(0deg,
            #11111100,
            #11111100 1px,
            #1B1B1B44 1px,
            #1b1b1b44 2px);
}

.container {
    margin-inline: 20px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px auto;
    position: relative;

    max-width: 800px;
    height: 30vh;
}

.cam-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-text);
    box-sizing: border-box;
    z-index: -2;
}

.hider {
    z-index: -1;
    position: absolute;
    background-color: var(--color-background);
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    min-width: 220px;
    margin: 20px;
    border: 1px solid var(--color-first);
}

.card-inner {
    padding: 30px;
}

.icon {
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 64px;

    margin-top: 30px;
}

.codepen {
    filter: invert(100%);
    background-image: url("img/codepen.png");
}

.github {
    filter: invert(100%);
    background-image: url("img/github.png");
}

@media screen and (max-width: 700px) {
    h1 {
        white-space: initial;
        animation: none;
        border: none;
    }

    section {
        padding: 20px 0;
    }
}